@import "../variables-site/variables-site";

html,
.nav-tab-active,
.nav-tab-active:hover {
  background: $base07;
}

body {
  font-family: "Fira Sans", "Open Sans", sans-serif;
  line-height: 1.4;
  color: $base00;
}

a {
  color: adjust-color($blue, $saturation: 10%, $lightness: -10%);
}

a:hover, a:active {
  color: adjust-color($blue, $saturation: 12%);
}

table {
  clear: left;
}

// make more room at the bottom for footer text
#wpbody-content {
  padding-bottom: 10em;
}

// match the Fira medium font-weight ISO bold (fight the faux bolding)
strong,
b,
th,
.form-table th,
h1,h2,h3,h4,h5,h6,
h1 .nav-tab,
h2 .nav-tab,
#wpadminbar .quicklinks li#wp-admin-bar-my-account a span.count,
#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar a span.count,
#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications,
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active,
.subsubsub a.current,
.row-title {
  font-weight: 500;
}

.nav-tab-active,
.nav-tab-active:hover,
.ac_match,
.subsubsub a.current,
.form-table th, .form-wrap label {
  color: $dark01;
}

#adminmenuback,
#adminmenuwrap,
#adminmenu,
#adminmenu .wp-submenu {
  background-color: $dark02;
}

// top adminbar
#wpadminbar,
#wpadminbar * {
  font: 300 13px/2.75 "Fira Sans", "Open Sans", sans-serif;
}

#adminmenu a:hover,
#adminmenu li.menu-top > a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-submenu a:focus,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus,
#wpadminbar {
  background-color: $dark01;
}

#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item {
  background: $dark01;
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  box-shadow: 0 3px 5px rgba($base00,0.2);
  background-color: adjust-color($blue, $lightness: -20%);
}

#wpadminbar .ab-submenu .ab-item {
  color: $base06;
}

#wpadminbar .quicklinks .menupop .ab-sub-secondary > li > a:hover,
#wpadminbar .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus a {
  color: #fff;
}

#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a,
#adminmenu a {
  color: $base07;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  background-color: adjust-color($blue, $lightness: -25%);
  color: adjust-color($light_blue, $saturation: 50%, $lightness: 20%);
}

#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: adjust-color($light_blue, $saturation: 20%, $lightness: 20%);
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu {
  background-color: adjust-color($blue, $saturation: -5%, $lightness: -35%);
}

// font-icons - dash icons
th .comment-grey-bubble:before,
#screen-meta-links .show-settings:after,
.view-switch a:before,
#adminmenu div.wp-menu-image:before,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar #adminbarsearch:before {
  color: $base05;
}

.widget-action,
.handlediv,
.item-edit,
.sidebar-name-arrow,
.accordion-section-title:after,
.welcome-panel .welcome-panel-close:before,
.tagchecklist span a:before,
#bulk-titles div a:before,
.notice-dismiss:before,
.welcome-panel .welcome-icon:before,
#dashboard_right_now li a:before,
#dashboard_right_now li span:before {
  color: $base04;
}

.pressthis-js-toggle .dashicons,
.pressthis-bookmarklet span:before {
  color: $dark08;
}

// active icons
.view-switch a.current:before {
  color: $blue;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
.folded #adminmenu li.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow div {
  background-color: adjust-color($dark01, $saturation: 50%, $lightness: 20%);
}

#adminmenu li.menu-top:hover,
#adminmenu li.menu-top > a:focus,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus,
#adminmenu a:hover,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-submenu a:focus {
  color: adjust-color($light_blue, $saturation: 20%);
}

#adminmenu a,
#adminmenu a.menu-top,
#adminmenu .wp-submenu-head {
  font-weight: 300;
  line-height: 1.33333;
}

#adminmenu a.menu-top,
#adminmenu .wp-submenu-head,
#dashboard_right_now .versions .b,
#post-status-display,
#post-visibility-display,
#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a:hover,
.media-item .percent,
.plugins .name,
#pass-strength-result.strong,
#pass-strength-result.short,
#ed_reply_toolbar #ed_reply_strong,
.item-controls .item-order a,
.feature-filter .feature-name,
#wpadminbar,
#wpadminbar * {
  letter-spacing: 0.5px;
}

#dashboard_right_now .versions .b,
#post-status-display,
#post-visibility-display,
#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a:hover,
.media-item .percent,
.plugins .name,
#pass-strength-result.strong,
#pass-strength-result.short,
#ed_reply_toolbar #ed_reply_strong,
.item-controls .item-order a,
.feature-filter .feature-name,
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  font-weight: 400;
}

#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  background-color: adjust-color($orange, $saturation: 40%, $lightness: 10%);
  // line-height: 16px;
  vertical-align: middle;
}

#adminmenu li .awaiting-mod span,
#adminmenu li span.update-plugins span {
  padding: 1px 6px 0;
}

#adminmenu .awaiting-mod, #adminmenu .update-plugins,
#wpadminbar .quicklinks li#wp-admin-bar-my-account a span.count,
#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar a span.count,
#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications {
  background: adjust-color($light_blue, $saturation: 20%, $lightness: -30%);
}

.column-response .comment-count-no-comments,
.column-response .comment-count-approved,
.column-comments .comment-count-no-comments,
.column-comments .comment-count-approved {
  background-color: $base03;
}

.column-response .post-com-count-no-comments:after,
.column-response .post-com-count-approved:after,
.column-comments .post-com-count-no-comments:after,
.column-comments .post-com-count-approved:after {
  border-top-color: $base03;
}

.ui-tabs ul#field-group-tabs li a.ui-tab,
.nav-tab,
.color-option:hover,
.color-option.selected,
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  background: $base06;
}

.ui-tabs ul#field-group-tabs li a.ui-tab,
.nav-tab {
  border-bottom: none;
  color: $dark04;
}

.nav-tab-active,
.nav-tab-active:hover {
  border-bottom: 1px solid $base07;
}
h1.nav-tab-wrapper,
h2.nav-tab-wrapper,
h3.nav-tab-wrapper {
  border-bottom: 1px solid $light01;
}

.striped > tbody > :nth-child(odd),
ul.striped > :nth-child(odd), .alternate {
  background: adjust-color($base06,$lightness:5%);
}

// buttons
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
  line-height: 2.2;
  text-shadow: none !important;
}

.pressthis-bookmarklet,
.tablenav .tablenav-pages a,
.tablenav-pages-navspan,
.wp-core-ui .button,
.wp-core-ui .button-secondary {
  background: $light02;
  border-color: $light03;
}

.pressthis-bookmarklet,
.wp-core-ui .button,
.wp-core-ui .button-secondary {
  box-shadow: inset 0 1px 0 $base06, 0 1px 0 rgba( $base00, 0.08 );
}

.pressthis-bookmarklet:hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary:focus {
  box-shadow: inset 0 1px 0 $base07, 0 1px 0 rgba( $base01, 0.08 );
}

.pressthis-bookmarklet:hover,
.pressthis-bookmarklet:focus,
.pressthis-bookmarklet:active,
.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  background: $light01;
  color: $base02;
  border-color: $light02;
}


// form-elements
.field-group fieldset.sortable,
input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="radio"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select, textarea {
  border: 1px solid $light02;
  box-shadow: inset 0 1px 2px rgba( $base00, 0.07 );
}

.field-group fieldset.sortable {
  background-color: $base07;
}

#activity-widget #the-comment-list .comment-item {
  background-color: adjust-color($base06, $saturation: -5%, $lightness: 2.5%);
}

.metabox-holder .postbox-container .empty-container,
.field-group fieldset.sortable:hover {
  border-color: $base05;
}

#screen-meta {
  border: 1px solid $light02;
}

.wrap > h1,
h2,
.widefat thead tr th,
.widefat thead tr td,
.widefat tfoot tr th,
.widefat tfoot tr td {
  color: $dark04;
  font-family: "Fira Sans Condensed", "Lucida Grande", "Segoe UI", Corbel, "Trebuchet MS", Verdana, sans-serif !important;
}

.ui-tabs-panel .bp-option a.delete,
.ui-tabs-panel .field-wrapper a.deletion,
.ui-tabs-panel .tab-toolbar a.deletion,
.row-actions span.delete a,
.row-actions span.trash a,
.row-actions span.spam a,
.plugins a.delete,
#all-plugins-table .plugins a.delete,
#search-plugins-table .plugins a.delete,
.submitbox .submitdelete,
#media-items a.delete,
#media-items a.delete-permanently,
#nav-menu-footer .menu-delete {
  color: adjust-color($red, $saturation: 30%, $lightness: 10%);
  border-bottom-color: adjust-color($red, $saturation: 10%, $lightness: 20%);
}

.row-actions span.delete a:hover,
.row-actions span.trash a:hover,
.row-actions span.spam a:hover,
.plugins a.delete:hover,
#all-plugins-table .plugins a.delete:hover,
#search-plugins-table .plugins a.delete:hover,
.submitbox .submitdelete:hover,
#media-items a.delete:hover,
#media-items a.delete-permanently:hover,
#nav-menu-footer .menu-delete:hover {
  color: adjust-color($red, $saturation: 50%, $lightness: 20%);
}

.ui-sortable #bbp-dashboard-right-now .waiting {
  color: adjust-color($orange, $saturation: 35%, $lightness: 10%);
}

.rssSummary,
.wpfooter-svdb,
#wpfooter,
.ui-sortable #bbp-dashboard-right-now p.sub,
#screen-meta-links .show-settings,
.tablenav .tablenav-pages {
  color: $base03;
}

.widefat td {
  color: $dark05;
}

.field-group fieldset.sortable,
input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="radio"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
.pressthis-bookmarklet,
.tablenav .tablenav-pages a,
.tablenav-pages-navspan,
.wp-core-ui .button,
.wp-core-ui .button-secondary,
h3,
.widefat th,
#screen-meta-links .show-settings:hover,
#screen-meta-links .show-settings:active,
#screen-meta-links .show-settings:focus {
  color: $base01;
}

// module
.postbox,
.ui-tabs ul#field-group-tabs li a.ui-tab,
.nav-tab,
.card {
  border: 1px solid $light01;
}

.postbox,
.card {
  box-shadow: 0 1px 1px rgba($base00,0.04);
}

.postbox .hndle,
.stuffbox .hndle {
  border-bottom-color: $light01;
}

.notice-success,
div.updated {
  border-color: $light_green;
}

.plugins .active th.check-column,
.plugin-update-tr.active td {
  border-left: 4px solid $blue;
}

// footer
.wpfooter-svdb {
  position: absolute;
  bottom: 1.5em;
  left: 0;
  right: 0;
  padding: 10px 20px;
  margin-left: 160px;

  @media screen and (max-width: 782px) {
    display: none;
  }
}

.auto-fold .wpfooter-svdb {
  @media only screen and (max-width: 960px) {
    margin-left: 36px;
  }
}
