$base00: #203b46;
$base01: #294956;
$base02: #5e7b87;
$base03: #6b8894;
$base04: #899ca4;
$base05: #97abb4;
$base06: #dfecf1;
$base07: #f5fcff;
$base08: #c14467;
$base09: #a0593b;
$base0A: #a19445;
$base0B: #40964a;
$base0C: #358d74;
$base0D: #119ad4;
$base0E: #6a75cd;
$base0F: #ae429f;

$red:     $base08;
$orange:  $base09;
$yellow:  $base0A;
$green:   $base0B;
$cyan:    $base0C;
$blue:    $base0D;
$violet:  $base0E;
$magenta: $base0F;
