$yellow-orange: mix($yellow,$orange,50%);
$orange-red: mix($orange,$red,50%);
$red-magenta: mix($red,$magenta,50%);
$magenta-violet: mix($magenta,$violet,50%);
$violet-blue: mix($violet,$blue,50%);
$blue-cyan: mix($blue,$cyan,50%);
$cyan-green: mix($cyan,$green,50%);
$green-yellow: mix($green,$yellow,50%);

$dark01: adjust-color($base00, $saturation: -5%, $lightness:-5%);
$dark02: adjust-color($base00, $saturation: -8%);
$dark03:  adjust-color($base01, $saturation: -7%);
$dark04: adjust-color($base01, $saturation: -10%, $lightness:5%);
$dark05: adjust-color($base01, $saturation: -10%, $lightness:10%);
$dark06: adjust-color($base01, $saturation: -10%, $lightness:15%);
$dark07: adjust-color($base01, $saturation: -10%, $lightness:20%);
$dark08: adjust-color($base01, $saturation: -10%, $lightness:25%);
$light08: adjust-color($base01,$saturation: -10%, $lightness:30%);
$light07: adjust-color($base01,$saturation: -10%, $lightness:35%);
$light06: adjust-color($base01,$saturation: -10%, $lightness:40%);
$light05: adjust-color($base01,$saturation: -10%, $lightness:45%);
$light04: adjust-color($base01,$saturation: -10%, $lightness:50%);
$light03: adjust-color($base01,$saturation: -10%, $lightness:55%);
$light02: adjust-color($base01,$saturation: -10%, $lightness:60%);
$light01: adjust-color($base01,$saturation: -10%, $lightness:65%);

$dark_yellow          : adjust-color($yellow,$lightness:-25%);
$dark_yellow-orange   : adjust-color($yellow-orange,$lightness:-23%);
$dark_orange          : adjust-color($orange,$lightness:-22%);
$dark_orange-red      : adjust-color($orange-red,$lightness:-22%);
$dark_red             : adjust-color($red,$lightness:-22%);
$dark_red-magenta     : adjust-color($red-magenta,$lightness:-23%);
$dark_magenta         : adjust-color($magenta,$lightness:-23%);
$dark_magenta-violet  : adjust-color($magenta-violet,$lightness:-26%);
$dark_violet          : adjust-color($violet,$lightness:-28%);
$dark_violet-blue     : adjust-color($violet-blue,$lightness:-32%);
$dark_blue            : adjust-color($blue,$lightness:-30%);
$dark_blue-cyan       : adjust-color($blue-cyan,$lightness:-26%);
$dark_cyan            : adjust-color($cyan,$lightness:-25%);
$dark_cyan-green      : adjust-color($cyan-green,$lightness:-26%);
$dark_green           : adjust-color($green,$lightness:-25%);
$dark_green-yellow   : adjust-color($green-yellow,$lightness: -25%);

$light_yellow         : adjust-color($yellow,$lightness:30%);
$light_orange         : adjust-color($orange,$lightness:30%);
$light_yellow-orange  : mix($light_yellow,$light_orange,50%);
$light_red            : adjust-color($red,$lightness:20%);
$light_orange-red     : mix($light_orange,$light_red,50%);
$light_magenta        : adjust-color($magenta,$lightness:20%);
$light_red-magenta    : mix($light_red,$light_magenta,50%);
$light_violet         : adjust-color($violet,$lightness:10%);
$light_magenta-violet : mix($light_magenta,$light_violet,50%);
$light_blue           : adjust-color($blue,$lightness:20%);
$light_violet-blue    : mix($light_violet,$light_blue,50%);
$light_cyan           : adjust-color($cyan,$lightness:20%);
$light_blue-cyan      : mix($light_blue,$light_cyan,50%);
$light_green          : adjust-color($green,$lightness:20%);
$light_cyan-green     : mix($light_cyan,$light_green,50%);
$light_green-yellow   : adjust-color($green-yellow,$lightness:20%);

$purple: $violet-blue;
$dark_purple: $dark_violet-blue;
$light_purple: $light_violet-blue;

 
