@import
"colorscheme",
"colorscheme-extended",
"mixins/text-color-contrast";

.base00  { color: $base00;  }
.base01  { color: $base01;  }
.base02  { color: $base02;  }
.base03  { color: $base03;  }
.base04  { color: $base04;  }
.base05  { color: $base05;  }
.base06  { color: $base06;  }
.base07  { color: $base07;  }
.base08,
.red     { color: $red;     }
.base09,
.orange  { color: $orange;  }
.base0A,
.yellow  { color: $yellow;  }
.base0B,
.green   { color: $green;   }
.base0C,
.cyan    { color: $cyan;    }
.base0D,
.blue    { color: $blue;    }
.base0E,
.violet  { color: $violet;  }
.base0F,
.magenta { color: $magenta; }

.bg-base00 { background-color: $base00; color: text-contrast($base00); }
.bg-base01 { background-color: $base01; color: text-contrast($base01); }
.bg-base02 { background-color: $base02; color: text-contrast($base02); }
.bg-base03 { background-color: $base03; color: text-contrast($base03); }
.bg-base04 { background-color: $base04; color: text-contrast($base04); }
.bg-base05 { background-color: $base05; color: text-contrast($base05); }
.bg-base06 { background-color: $base06; color: text-contrast($base06); }
.bg-base07 { background-color: $base07; color: text-contrast($base07); }
.bg-base08 { background-color: $base08; color: text-contrast($base08); }
.bg-base09 { background-color: $base09; color: text-contrast($base09); }
.bg-base0a { background-color: $base0A; color: text-contrast($base0A); }
.bg-base0b { background-color: $base0B; color: text-contrast($base0B); }
.bg-base0c { background-color: $base0C; color: text-contrast($base0C); }
.bg-base0d { background-color: $base0D; color: text-contrast($base0D); }
.bg-base0e { background-color: $base0E; color: text-contrast($base0E); }
.bg-base0f { background-color: $base0F; color: text-contrast($base0F); }

.bg-dark01 { background-color: $dark01; color: text-contrast($dark01); }
.bg-dark02 { background-color: $dark02; color: text-contrast($dark02); }
.bg-dark03 { background-color: $dark03; color: text-contrast($dark03); }
.bg-dark04 { background-color: $dark04; color: text-contrast($dark04); }
.bg-dark05 { background-color: $dark05; color: text-contrast($dark05); }
.bg-dark06 { background-color: $dark06; color: text-contrast($dark06); }
.bg-dark07 { background-color: $dark07; color: text-contrast($dark07); }
.bg-dark08 { background-color: $dark08; color: text-contrast($dark08); }

.bg-light01 { background-color: $light01; color: text-contrast($light01); }
.bg-light02 { background-color: $light02; color: text-contrast($light02); }
.bg-light03 { background-color: $light03; color: text-contrast($light03); }
.bg-light04 { background-color: $light04; color: text-contrast($light04); }
.bg-light05 { background-color: $light05; color: text-contrast($light05); }
.bg-light06 { background-color: $light06; color: text-contrast($light06); }
.bg-light07 { background-color: $light07; color: text-contrast($light07); }
.bg-light08 { background-color: $light08; color: text-contrast($light08); }

.bg-yellow          { background-color: $yellow         ; color: text-contrast($yellow         );}
.bg-yellow-orange   { background-color: $yellow-orange  ; color: text-contrast($yellow-orange  );}
.bg-orange          { background-color: $orange         ; color: text-contrast($orange         );}
.bg-orange-red      { background-color: $orange-red     ; color: text-contrast($orange-red     );}
.bg-red             { background-color: $red            ; color: text-contrast($red            );}
.bg-red-magenta     { background-color: $red-magenta    ; color: text-contrast($red-magenta    );}
.bg-magenta         { background-color: $magenta        ; color: text-contrast($magenta        );}
.bg-magenta-violet  { background-color: $magenta-violet ; color: text-contrast($magenta-violet );}
.bg-violet          { background-color: $violet         ; color: text-contrast($violet         );}
.bg-violet-blue     { background-color: $violet-blue    ; color: text-contrast($violet-blue    );}
.bg-blue            { background-color: $blue           ; color: text-contrast($blue           );}
.bg-blue-cyan       { background-color: $blue-cyan      ; color: text-contrast($blue-cyan      );}
.bg-cyan            { background-color: $cyan           ; color: text-contrast($cyan           );}
.bg-cyan-green      { background-color: $cyan-green     ; color: text-contrast($cyan-green     );}
.bg-green           { background-color: $green          ; color: text-contrast($green          );}
.bg-green-yellow    { background-color: $green-yellow   ; color: text-contrast($green-yellow   );}

.bg-dark_yellow          { background-color: $dark_yellow          ; color: text-contrast($dark_yellow          );}
.bg-dark_yellow-orange   { background-color: $dark_yellow-orange   ; color: text-contrast($dark_yellow-orange   );}
.bg-dark_orange          { background-color: $dark_orange          ; color: text-contrast($dark_orange          );}
.bg-dark_orange-red      { background-color: $dark_orange-red      ; color: text-contrast($dark_orange-red      );}
.bg-dark_red             { background-color: $dark_red             ; color: text-contrast($dark_red             );}
.bg-dark_red-magenta     { background-color: $dark_red-magenta     ; color: text-contrast($dark_red-magenta     );}
.bg-dark_magenta         { background-color: $dark_magenta         ; color: text-contrast($dark_magenta         );}
.bg-dark_magenta-violet  { background-color: $dark_magenta-violet  ; color: text-contrast($dark_magenta-violet  );}
.bg-dark_violet          { background-color: $dark_violet          ; color: text-contrast($dark_violet          );}
.bg-dark_violet-blue     { background-color: $dark_violet-blue     ; color: text-contrast($dark_violet-blue     );}
.bg-dark_blue            { background-color: $dark_blue            ; color: text-contrast($dark_blue            );}
.bg-dark_blue-cyan       { background-color: $dark_blue-cyan       ; color: text-contrast($dark_blue-cyan       );}
.bg-dark_cyan            { background-color: $dark_cyan            ; color: text-contrast($dark_cyan            );}
.bg-dark_cyan-green      { background-color: $dark_cyan-green      ; color: text-contrast($dark_cyan-green      );}
.bg-dark_green           { background-color: $dark_green           ; color: text-contrast($dark_green           );}
.bg-dark_green-yellow    { background-color: $dark_green-yellow    ; color: text-contrast($dark_green-yellow    );}

.bg-light_yellow         { background-color: $light_yellow         ; color: text-contrast($light_yellow         );}
.bg-light_yellow-orange  { background-color: $light_yellow-orange  ; color: text-contrast($light_yellow-orange  );}
.bg-light_orange         { background-color: $light_orange         ; color: text-contrast($light_orange         );}
.bg-light_orange-red     { background-color: $light_orange-red     ; color: text-contrast($light_orange-red     );}
.bg-light_red            { background-color: $light_red            ; color: text-contrast($light_red            );}
.bg-light_red-magenta    { background-color: $light_red-magenta    ; color: text-contrast($light_red-magenta    );}
.bg-light_magenta        { background-color: $light_magenta        ; color: text-contrast($light_magenta        );}
.bg-light_magenta-violet { background-color: $light_magenta-violet ; color: text-contrast($light_magenta-violet );}
.bg-light_violet         { background-color: $light_violet         ; color: text-contrast($light_violet         );}
.bg-light_violet-blue    { background-color: $light_violet-blue    ; color: text-contrast($light_violet-blue    );}
.bg-light_blue           { background-color: $light_blue           ; color: text-contrast($light_blue           );}
.bg-light_blue-cyan      { background-color: $light_blue-cyan      ; color: text-contrast($light_blue-cyan      );}
.bg-light_cyan           { background-color: $light_cyan           ; color: text-contrast($light_cyan           );}
.bg-light_cyan-green     { background-color: $light_cyan-green     ; color: text-contrast($light_cyan-green     );}
.bg-light_green          { background-color: $light_green          ; color: text-contrast($light_green          );}
.bg-light_green-yellow   { background-color: $light_green-yellow   ; color: text-contrast($light_green-yellow   );}

// generic demo styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  font-size: 16px;
  background-color: $base07;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 100%/1.5 AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  background: inherit;
  color: #111;
  min-height: 100%;
  box-sizing: border-box;
}
h1, h2, h3 {
  margin: 0;
  padding: 1rem 0 0;
  font-family: AvenirNextCondensed-DemiBold, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}
h3 {
  color: $base02;
}

.container {
  max-width: 100%;
}
.header,
.footer {
  padding: .5em 0;
  background: $blue-cyan;
  color: $base07;
  width: 100%;
  text-align: center;
  text-shadow: darken($blue-cyan,5) 1px 1px 1px;
}
.header {
  border-bottom: 2px solid darken($blue-cyan,5);
  letter-spacing: 1px;
  word-spacing: -1px;
}
.footer {
  border-top: 2px solid darken($blue-cyan,5);
  padding-bottom: 2em;
  letter-spacing: 1px;
}
.header a,
.footer a {
  color: adjust-color($light_yellow,$lightness:5%,$saturation:5%);
  text-decoration: none;
}
.header a:hover,
.footer a:hover {
  color: adjust-color($light_yellow,$lightness:10%,$saturation:10%);
}
.header h1 .small {
  color: $base06;
}
.demo-tiles {
  overflow: hidden;
}
.wrap {
  margin-top: 1em;
  padding: 0 2em;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after,
.clear {
  clear: both;
}
.unit {
  float: left;
  width: 25%;
  padding: 4em 0;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 2rem;
  margin: 1em 0 0 .35em;
}
.block-list {
  margin-bottom: 1em;
}
.block-list li {
  list-style: none;
  padding: .5em 1em;
}
@media (min-width:750px) {
  .container {
    padding-right: 5%;
    padding-left: 5%;
  }
  h1 {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  p {
    font-size: 1.25em;
  }
}
