$base00: #203b46;  // hsl(198, 37%, 20%);
$base01: #294956;  // hsl(198, 35%, 25%);
$base02: #5e7b87;  // hsl(198, 18%, 45%);
$base03: #6b8894;  // hsl(198, 16%, 50%);
$base04: #899ca4;  // hsl(198, 13%, 60%);
$base05: #97abb4;  // hsl(198, 16%, 65%);
$base06: #dfecf1;  // hsl(198, 39%, 91%);
$base07: #f5fcff;  // hsl(198, 100%, 98%);
$base08: #c14467;  // hsl(343, 50%, 51%);
$base09: #a0593b;  // hsl(18, 46%, 43%);
$base0A: #a19445;  // hsl(52, 40%, 45%);
$base0B: #40964a;  // hsl(127, 40%, 42%);
$base0C: #358d74;  // hsl(163, 45%, 38%);
$base0D: #119ad4;  // hsl(198, 85%, 45%);
$base0E: #6a75cd;  // hsl(233, 50%, 61%);
$base0F: #ae429f;  // hsl(308, 45%, 47%);

$red:     $base08;
$orange:  $base09;
$yellow:  $base0A;
$green:   $base0B;
$cyan:    $base0C;
$blue:    $base0D;
$violet:  $base0E;
$magenta: $base0F;

@import "colorscheme-extended";
